{
    "service": {
        "[main]": "\/.service",
        "Access": "\/.service",
        "Statistics": "\/.service",
        "ZendValidator": "\/.service"
    },
    "routing": {
        "params_prefix": "~",
        "pattern": {
            "exclude_multi_slash": "~\/{2,}~",
            "lang": "~(^[a-z]{2}$)|(^[a-z]{2}_[A-Z]{2}$)~"
        },
        "layout": {
            "default": "index",
            "404": "index",
            "error": "index"
        },
        "page": {
            "default": "index",
            "404": "404",
            "error": "error"
        }
    },
    "lang": "en"
}