{
    "index": {
        "layout": "index",
        "is_secure": false
    },
    "about": {
        "layout": "index",
        "is_secure": false
    },
    "contact": {
        "layout": "index",
        "is_secure": false
    },
    "404": {
        "layout": "index",
        "is_secure": false
    }
}